p {
	display: inline;
}

.errorBox {
	text-align: center;
}

.error {
	color: rgba(128, 128, 128, 0.603);
	font-size: 10em;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
}

.notFound {
	color: rgba(128, 128, 128, 0.603);
	font-size: 4em;
	margin-left: 0.3em;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
}
